* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#maze{
    font-family: serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#maze table tr td{
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}

.action-container {
    border: 1px solid lightgray;
    width: 25%;
    margin: 1em;
    padding: 0 0.5em;
}
