* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#maze{
    font-family: serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#maze table tr td{
    font-size: 10px;
    text-align: center;
    overflow: hidden;
}

.action-container {
    border: 1px solid lightgray;
    margin: 1em;
    padding: 0 0.5em;
}
.action-container textarea,
.action-container input[type="text"],
.action-container input[type="number"],
.action-container fieldset{
    width: 100%;
}

.panel{
    width: 22vw;
    background-color: white;
    position: absolute;
    top: 0;
}

.panel-left {
    left: 0;
}

.panel-right {
    right: 0;
}